build/bin/*
build/bin2/*
build/bin3/*
build/datadir/*
.idea/
.vscode/
debug
*.exe

cmd/lcnd/lcnd
tests/tests
.DS_Store
nodekey
L0.iml
tests/docker/l0/lcnd
tests/docker/msgnet/msg-net
tests/Transaction/*
!/tests/transaction/crossLayer_3/
*.swp
debug.test
